statemachine/nexus_pipeline.asl.json
{
  "Comment": "Nexus Cloud — serverless YouTube automation pipeline",
  "StartAt": "Initialize",
  "States": {

    "Initialize": {
      "Type": "Pass",
      "Comment": "Pass-through: run_id is always provided by the API or resume handler in the execution input.",
      "Next": "ResumeRouter"
    },

    "ResumeRouter": {
      "Type": "Choice",
      "Comment": "Route to the correct step when resume_from is set; default to Research for new runs.",
      "Choices": [
        {
          "And": [
            { "Variable": "$.resume_from", "IsPresent": true },
            { "Variable": "$.resume_from", "StringEquals": "Script" }
          ],
          "Next": "Script"
        },
        {
          "And": [
            { "Variable": "$.resume_from", "IsPresent": true },
            { "Variable": "$.resume_from", "StringEquals": "AudioVisuals" }
          ],
          "Next": "AudioVisuals"
        },
        {
          "And": [
            { "Variable": "$.resume_from", "IsPresent": true },
            { "Variable": "$.resume_from", "StringEquals": "Editor" }
          ],
          "Next": "Editor"
        },
        {
          "And": [
            { "Variable": "$.resume_from", "IsPresent": true },
            { "Variable": "$.resume_from", "StringEquals": "Thumbnail" }
          ],
          "Next": "Thumbnail"
        },
        {
          "And": [
            { "Variable": "$.resume_from", "IsPresent": true },
            { "Variable": "$.resume_from", "StringEquals": "Notify" }
          ],
          "Next": "Notify"
        }
      ],
      "Default": "Research"
    },

    "Research": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NexusResearchArn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "niche.$": "$.niche",
          "profile.$": "$.profile",
          "dry_run.$": "$.dry_run",
          "execution_start_time.$": "$$.Execution.StartTime"
        }
      },
      "ResultSelector": {
        "run_id.$": "$.Payload.run_id",
        "profile.$": "$.Payload.profile",
        "dry_run.$": "$.Payload.dry_run",
        "niche.$": "$$.Execution.Input.niche",
        "subnets.$": "$$.Execution.Input.subnets",
        "research_s3_key.$": "$.Payload.research_s3_key",
        "selected_topic.$": "$.Payload.selected_topic",
        "angle.$": "$.Payload.angle",
        "trending_context.$": "$.Payload.trending_context"
      },
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ResearchError"
        }
      ],
      "Next": "Script"
    },

    "ResearchError": {
      "Type": "Pass",
      "Parameters": {
        "step_name": "Research",
        "error.$": "$.error",
        "run_id.$": "$$.Execution.Input.run_id",
        "niche.$": "$$.Execution.Input.niche",
        "profile.$": "$$.Execution.Input.profile",
        "dry_run.$": "$$.Execution.Input.dry_run"
      },
      "ResultPath": "$",
      "Next": "NotifyError"
    },

    "Script": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NexusScriptArn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "profile.$": "$.profile",
          "dry_run.$": "$.dry_run",
          "niche.$": "$.niche",
          "selected_topic.$": "$.selected_topic",
          "angle.$": "$.angle",
          "trending_context.$": "$.trending_context",
          "research_s3_key.$": "$.research_s3_key"
        }
      },
      "ResultSelector": {
        "run_id.$": "$.Payload.run_id",
        "profile.$": "$.Payload.profile",
        "dry_run.$": "$.Payload.dry_run",
        "niche.$": "$$.Execution.Input.niche",
        "subnets.$": "$$.Execution.Input.subnets",
        "script_s3_key.$": "$.Payload.script_s3_key",
        "title.$": "$.Payload.title",
        "section_count.$": "$.Payload.section_count",
        "total_duration_estimate.$": "$.Payload.total_duration_estimate"
      },
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ScriptError"
        }
      ],
      "Next": "AudioVisuals"
    },

    "ScriptError": {
      "Type": "Pass",
      "Parameters": {
        "step_name": "Script",
        "error.$": "$.error",
        "run_id.$": "$$.Execution.Input.run_id",
        "niche.$": "$$.Execution.Input.niche",
        "profile.$": "$$.Execution.Input.profile",
        "dry_run.$": "$$.Execution.Input.dry_run"
      },
      "ResultPath": "$",
      "Next": "NotifyError"
    },

    "AudioVisuals": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Audio",
          "States": {
            "Audio": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${NexusClusterArn}",
                "TaskDefinition": "${NexusAudioTaskDefArn}",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "AssignPublicIp": "ENABLED",
                    "Subnets.$": "$.subnets"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "nexus-audio",
                      "Environment": [
                        { "Name": "RUN_ID", "Value.$": "$.run_id" },
                        { "Name": "PROFILE", "Value.$": "$.profile" },
                        { "Name": "DRY_RUN", "Value.$": "States.Format('{}', $.dry_run)" },
                        { "Name": "NICHE", "Value.$": "$.niche" },
                        { "Name": "SCRIPT_S3_KEY", "Value.$": "$.script_s3_key" },
                        { "Name": "TITLE", "Value.$": "$.title" },
                        { "Name": "TOTAL_DURATION_ESTIMATE", "Value.$": "States.Format('{}', $.total_duration_estimate)" }
                      ]
                    }
                  ]
                }
              },
              "ResultPath": "$.ecs_result",
              "Retry": [
                {
                  "ErrorEquals": ["ECS.AmazonECSException", "States.TaskFailed"],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "Next": "SetAudioKeys"
            },
            "SetAudioKeys": {
              "Type": "Pass",
              "Parameters": {
                "run_id.$": "$.run_id",
                "profile.$": "$.profile",
                "dry_run.$": "$.dry_run",
                "niche.$": "$.niche",
                "subnets.$": "$.subnets",
                "script_s3_key.$": "$.script_s3_key",
                "title.$": "$.title",
                "total_duration_estimate.$": "$.total_duration_estimate",
                "voiceover_s3_key.$": "States.Format('{}/audio/voiceover.wav', $.run_id)",
                "mixed_audio_s3_key.$": "States.Format('{}/audio/mixed_audio.wav', $.run_id)"
              },
              "ResultPath": "$",
              "End": true
            }
          }
        },
        {
          "StartAt": "Visuals",
          "States": {
            "Visuals": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "TimeoutSeconds": 3600,
              "Parameters": {
                "LaunchType": "FARGATE",
                "Cluster": "${NexusClusterArn}",
                "TaskDefinition": "${NexusVisualsTaskDefArn}",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "AssignPublicIp": "ENABLED",
                    "Subnets.$": "$.subnets"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "nexus-visuals",
                      "Environment": [
                        { "Name": "RUN_ID", "Value.$": "$.run_id" },
                        { "Name": "PROFILE", "Value.$": "$.profile" },
                        { "Name": "DRY_RUN", "Value.$": "States.Format('{}', $.dry_run)" },
                        { "Name": "NICHE", "Value.$": "$.niche" },
                        { "Name": "SCRIPT_S3_KEY", "Value.$": "$.script_s3_key" },
                        { "Name": "TITLE", "Value.$": "$.title" },
                        { "Name": "TOTAL_DURATION_ESTIMATE", "Value.$": "States.Format('{}', $.total_duration_estimate)" }
                      ]
                    }
                  ]
                }
              },
              "ResultPath": "$.ecs_result",
              "Retry": [
                {
                  "ErrorEquals": ["ECS.AmazonECSException", "States.TaskFailed"],
                  "IntervalSeconds": 10,
                  "MaxAttempts": 2,
                  "BackoffRate": 2.0
                }
              ],
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "AudioVisualsError"
        }
      ],
      "Next": "MergeParallelOutputs"
    },

    "AudioVisualsError": {
      "Type": "Pass",
      "Parameters": {
        "step_name": "AudioVisuals",
        "error.$": "$.error",
        "run_id.$": "$$.Execution.Input.run_id",
        "niche.$": "$$.Execution.Input.niche",
        "profile.$": "$$.Execution.Input.profile",
        "dry_run.$": "$$.Execution.Input.dry_run"
      },
      "ResultPath": "$",
      "Next": "NotifyError"
    },

    "MergeParallelOutputs": {
      "Type": "Pass",
      "Parameters": {
        "run_id.$": "$[0].run_id",
        "profile.$": "$[0].profile",
        "dry_run.$": "$[0].dry_run",
        "niche.$": "$[0].niche",
        "script_s3_key.$": "$[0].script_s3_key",
        "title.$": "$[0].title",
        "total_duration_estimate.$": "$[0].total_duration_estimate",
        "mixed_audio_s3_key.$": "$[0].mixed_audio_s3_key",
        "subnets.$": "$[0].subnets"
      },
      "ResultPath": "$",
      "Next": "Editor"
    },

    "Editor": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "TimeoutSeconds": 7200,
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "${NexusClusterArn}",
        "TaskDefinition": "${NexusEditorTaskDefArn}",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "AssignPublicIp": "ENABLED",
            "Subnets.$": "$.subnets"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "nexus-editor",
              "Environment": [
                { "Name": "RUN_ID", "Value.$": "$.run_id" },
                { "Name": "PROFILE", "Value.$": "$.profile" },
                { "Name": "DRY_RUN", "Value.$": "States.Format('{}', $.dry_run)" },
                { "Name": "NICHE", "Value.$": "$.niche" },
                { "Name": "SCRIPT_S3_KEY", "Value.$": "$.script_s3_key" },
                { "Name": "MIXED_AUDIO_S3_KEY", "Value.$": "$.mixed_audio_s3_key" },
                { "Name": "TITLE", "Value.$": "$.title" },
                { "Name": "TOTAL_DURATION_ESTIMATE", "Value.$": "States.Format('{}', $.total_duration_estimate)" }
              ]
            }
          ]
        }
      },
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": ["ECS.AmazonECSException", "States.TaskFailed"],
          "IntervalSeconds": 15,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "EditorError"
        }
      ],
      "Next": "SetEditorKeys"
    },

    "EditorError": {
      "Type": "Pass",
      "Parameters": {
        "step_name": "Editor",
        "error.$": "$.error",
        "run_id.$": "$$.Execution.Input.run_id",
        "niche.$": "$$.Execution.Input.niche",
        "profile.$": "$$.Execution.Input.profile",
        "dry_run.$": "$$.Execution.Input.dry_run"
      },
      "ResultPath": "$",
      "Next": "NotifyError"
    },

    "SetEditorKeys": {
      "Type": "Pass",
      "Parameters": {
        "run_id.$": "$.run_id",
        "profile.$": "$.profile",
        "dry_run.$": "$.dry_run",
        "niche.$": "$.niche",
        "script_s3_key.$": "$.script_s3_key",
        "title.$": "$.title",
        "final_video_s3_key.$": "States.Format('{}/review/final_video.mp4', $.run_id)",
        "video_duration_sec.$": "$.total_duration_estimate"
      },
      "ResultPath": "$",
      "Next": "Thumbnail"
    },

    "Thumbnail": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NexusThumbnailArn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "profile.$": "$.profile",
          "dry_run.$": "$.dry_run",
          "niche.$": "$.niche",
          "script_s3_key.$": "$.script_s3_key",
          "final_video_s3_key.$": "$.final_video_s3_key",
          "title.$": "$.title",
          "video_duration_sec.$": "$.video_duration_sec"
        }
      },
      "ResultSelector": {
        "run_id.$": "$.Payload.run_id",
        "profile.$": "$.Payload.profile",
        "dry_run.$": "$.Payload.dry_run",
        "niche.$": "$$.Execution.Input.niche",
        "script_s3_key.$": "$.Payload.script_s3_key",
        "title.$": "$.Payload.title",
        "final_video_s3_key.$": "$.Payload.final_video_s3_key",
        "video_duration_sec.$": "$.Payload.video_duration_sec",
        "thumbnail_s3_keys.$": "$.Payload.thumbnail_s3_keys",
        "primary_thumbnail_s3_key.$": "$.Payload.primary_thumbnail_s3_key"
      },
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ThumbnailError"
        }
      ],
      "Next": "Upload"
    },

    "ThumbnailError": {
      "Type": "Pass",
      "Parameters": {
        "step_name": "Thumbnail",
        "error.$": "$.error",
        "run_id.$": "$$.Execution.Input.run_id",
        "niche.$": "$$.Execution.Input.niche",
        "profile.$": "$$.Execution.Input.profile",
        "dry_run.$": "$$.Execution.Input.dry_run"
      },
      "ResultPath": "$",
      "Next": "NotifyError"
    },

    "Upload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NexusUploadArn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "profile.$": "$.profile",
          "dry_run.$": "$.dry_run",
          "niche.$": "$.niche",
          "script_s3_key.$": "$.script_s3_key",
          "final_video_s3_key.$": "$.final_video_s3_key",
          "primary_thumbnail_s3_key.$": "$.primary_thumbnail_s3_key",
          "thumbnail_s3_keys.$": "$.thumbnail_s3_keys",
          "title.$": "$.title",
          "video_duration_sec.$": "$.video_duration_sec"
        }
      },
      "ResultSelector": {
        "run_id.$": "$.Payload.run_id",
        "profile.$": "$.Payload.profile",
        "dry_run.$": "$.Payload.dry_run",
        "niche.$": "$.Payload.niche",
        "title.$": "$.Payload.title",
        "final_video_s3_key.$": "$.Payload.final_video_s3_key",
        "video_duration_sec.$": "$.Payload.video_duration_sec",
        "thumbnail_s3_keys.$": "$.Payload.thumbnail_s3_keys",
        "primary_thumbnail_s3_key.$": "$.Payload.primary_thumbnail_s3_key",
        "video_url.$": "$.Payload.video_url",
        "video_id.$": "$.Payload.video_id"
      },
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "UploadError"
        }
      ],
      "Next": "Notify"
    },

    "UploadError": {
      "Type": "Pass",
      "Parameters": {
        "step_name": "Upload",
        "error.$": "$.error",
        "run_id.$": "$$.Execution.Input.run_id",
        "niche.$": "$$.Execution.Input.niche",
        "profile.$": "$$.Execution.Input.profile",
        "dry_run.$": "$$.Execution.Input.dry_run"
      },
      "ResultPath": "$",
      "Next": "NotifyError"
    },

    "Notify": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NexusNotifyArn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "profile.$": "$.profile",
          "dry_run.$": "$.dry_run",
          "niche.$": "$.niche",
          "title.$": "$.title",
          "final_video_s3_key.$": "$.final_video_s3_key",
          "video_url.$": "$.video_url",
          "video_duration_sec.$": "$.video_duration_sec",
          "thumbnail_s3_keys.$": "$.thumbnail_s3_keys",
          "primary_thumbnail_s3_key.$": "$.primary_thumbnail_s3_key",
          "execution_start_time.$": "$$.Execution.StartTime"
        }
      },
      "End": true,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyError"
        }
      ]
    },

    "NotifyError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NexusNotifyErrorArn}",
        "Payload": {
          "run_id.$": "$$.Execution.Input.run_id",
          "error.$": "$.error",
          "step_name.$": "$.step_name",
          "niche.$": "$$.Execution.Input.niche",
          "profile.$": "$$.Execution.Input.profile",
          "dry_run.$": "$$.Execution.Input.dry_run"
        }
      },
      "Next": "PipelineFailed",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ]
    },

    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "One or more pipeline steps failed. Check Discord and S3 error logs."
    }
  }
}
