statemachine/nexus_pipeline.asl.json
{
  "Comment": "Nexus Cloud — serverless YouTube automation pipeline",
  "StartAt": "Research",
  "States": {

    "Research": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NexusResearchArn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "niche.$": "$.niche",
          "profile.$": "$.profile",
          "dry_run.$": "$.dry_run",
          "execution_start_time.$": "$$.Execution.StartTime"
        }
      },
      "ResultSelector": {
        "run_id.$": "$.Payload.run_id",
        "profile.$": "$.Payload.profile",
        "dry_run.$": "$.Payload.dry_run",
        "niche.$": "$$.Execution.Input.niche",
        "research_s3_key.$": "$.Payload.research_s3_key",
        "selected_topic.$": "$.Payload.selected_topic",
        "angle.$": "$.Payload.angle",
        "trending_context.$": "$.Payload.trending_context"
      },
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyError"
        }
      ],
      "Next": "Script"
    },

    "Script": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NexusScriptArn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "profile.$": "$.profile",
          "dry_run.$": "$.dry_run",
          "niche.$": "$.niche",
          "selected_topic.$": "$.selected_topic",
          "angle.$": "$.angle",
          "trending_context.$": "$.trending_context",
          "research_s3_key.$": "$.research_s3_key"
        }
      },
      "ResultSelector": {
        "run_id.$": "$.Payload.run_id",
        "profile.$": "$.Payload.profile",
        "dry_run.$": "$.Payload.dry_run",
        "niche.$": "$$.Execution.Input.niche",
        "script_s3_key.$": "$.Payload.script_s3_key",
        "title.$": "$.Payload.title",
        "section_count.$": "$.Payload.section_count",
        "total_duration_estimate.$": "$.Payload.total_duration_estimate"
      },
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyError"
        }
      ],
      "Next": "Audio"
    },

    "Audio": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NexusAudioArn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "profile.$": "$.profile",
          "dry_run.$": "$.dry_run",
          "niche.$": "$.niche",
          "script_s3_key.$": "$.script_s3_key",
          "title.$": "$.title",
          "total_duration_estimate.$": "$.total_duration_estimate"
        }
      },
      "ResultSelector": {
        "run_id.$": "$.Payload.run_id",
        "profile.$": "$.Payload.profile",
        "dry_run.$": "$.Payload.dry_run",
        "niche.$": "$$.Execution.Input.niche",
        "script_s3_key.$": "$.Payload.script_s3_key",
        "title.$": "$.Payload.title",
        "total_duration_estimate.$": "$.Payload.total_duration_estimate",
        "voiceover_s3_key.$": "$.Payload.voiceover_s3_key",
        "mixed_audio_s3_key.$": "$.Payload.mixed_audio_s3_key"
      },
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyError"
        }
      ],
      "Next": "Visuals"
    },

    "Visuals": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "TimeoutSeconds": 960,
      "Parameters": {
        "FunctionName": "${NexusVisualsArn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "profile.$": "$.profile",
          "dry_run.$": "$.dry_run",
          "niche.$": "$.niche",
          "script_s3_key.$": "$.script_s3_key",
          "title.$": "$.title",
          "mixed_audio_s3_key.$": "$.mixed_audio_s3_key",
          "total_duration_estimate.$": "$.total_duration_estimate"
        }
      },
      "ResultSelector": {
        "run_id.$": "$.Payload.run_id",
        "profile.$": "$.Payload.profile",
        "dry_run.$": "$.Payload.dry_run",
        "niche.$": "$$.Execution.Input.niche",
        "script_s3_key.$": "$.Payload.script_s3_key",
        "mixed_audio_s3_key.$": "$.Payload.mixed_audio_s3_key",
        "total_duration_estimate.$": "$.Payload.total_duration_estimate",
        "title.$": "$.Payload.title",
        "sections.$": "$.Payload.sections"
      },
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyError"
        }
      ],
      "Next": "Editor"
    },

    "Editor": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "TimeoutSeconds": 960,
      "Parameters": {
        "FunctionName": "${NexusEditorArn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "profile.$": "$.profile",
          "dry_run.$": "$.dry_run",
          "niche.$": "$.niche",
          "script_s3_key.$": "$.script_s3_key",
          "sections.$": "$.sections",
          "mixed_audio_s3_key.$": "$.mixed_audio_s3_key",
          "title.$": "$.title",
          "total_duration_estimate.$": "$.total_duration_estimate"
        }
      },
      "ResultSelector": {
        "run_id.$": "$.Payload.run_id",
        "profile.$": "$.Payload.profile",
        "dry_run.$": "$.Payload.dry_run",
        "niche.$": "$$.Execution.Input.niche",
        "script_s3_key.$": "$.Payload.script_s3_key",
        "title.$": "$.Payload.title",
        "final_video_s3_key.$": "$.Payload.final_video_s3_key",
        "video_duration_sec.$": "$.Payload.video_duration_sec"
      },
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 10,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyError"
        }
      ],
      "Next": "Thumbnail"
    },

    "Thumbnail": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NexusThumbnailArn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "profile.$": "$.profile",
          "dry_run.$": "$.dry_run",
          "niche.$": "$.niche",
          "script_s3_key.$": "$.script_s3_key",
          "final_video_s3_key.$": "$.final_video_s3_key",
          "title.$": "$.title",
          "video_duration_sec.$": "$.video_duration_sec"
        }
      },
      "ResultSelector": {
        "run_id.$": "$.Payload.run_id",
        "profile.$": "$.Payload.profile",
        "dry_run.$": "$.Payload.dry_run",
        "niche.$": "$$.Execution.Input.niche",
        "script_s3_key.$": "$.Payload.script_s3_key",
        "title.$": "$.Payload.title",
        "final_video_s3_key.$": "$.Payload.final_video_s3_key",
        "video_duration_sec.$": "$.Payload.video_duration_sec",
        "thumbnail_s3_keys.$": "$.Payload.thumbnail_s3_keys",
        "primary_thumbnail_s3_key.$": "$.Payload.primary_thumbnail_s3_key"
      },
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyError"
        }
      ],
      "Next": "Upload"
    },

    "Upload": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NexusUploadArn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "profile.$": "$.profile",
          "dry_run.$": "$.dry_run",
          "niche.$": "$.niche",
          "script_s3_key.$": "$.script_s3_key",
          "final_video_s3_key.$": "$.final_video_s3_key",
          "primary_thumbnail_s3_key.$": "$.primary_thumbnail_s3_key",
          "title.$": "$.title",
          "video_duration_sec.$": "$.video_duration_sec",
          "thumbnail_s3_keys.$": "$.thumbnail_s3_keys"
        }
      },
      "ResultSelector": {
        "run_id.$": "$.Payload.run_id",
        "profile.$": "$.Payload.profile",
        "dry_run.$": "$.Payload.dry_run",
        "niche.$": "$$.Execution.Input.niche",
        "title.$": "$.Payload.title",
        "video_id.$": "$.Payload.video_id",
        "video_url.$": "$.Payload.video_url",
        "thumbnail_s3_keys.$": "$.Payload.thumbnail_s3_keys",
        "primary_thumbnail_s3_key.$": "$.Payload.primary_thumbnail_s3_key",
        "video_duration_sec.$": "$.Payload.video_duration_sec"
      },
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.TooManyRequestsException"],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyError"
        }
      ],
      "Next": "Notify"
    },

    "Notify": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NexusNotifyArn}",
        "Payload": {
          "run_id.$": "$.run_id",
          "profile.$": "$.profile",
          "dry_run.$": "$.dry_run",
          "niche.$": "$.niche",
          "title.$": "$.title",
          "video_id.$": "$.video_id",
          "video_url.$": "$.video_url",
          "video_duration_sec.$": "$.video_duration_sec",
          "thumbnail_s3_keys.$": "$.thumbnail_s3_keys",
          "primary_thumbnail_s3_key.$": "$.primary_thumbnail_s3_key",
          "execution_start_time.$": "$$.Execution.StartTime"
        }
      },
      "End": true,
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "NotifyError"
        }
      ]
    },

    "NotifyError": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${NexusNotifyErrorArn}",
        "Payload": {
          "run_id.$": "$$.Execution.Input.run_id",
          "error.$": "$.error",
          "niche.$": "$$.Execution.Input.niche",
          "profile.$": "$$.Execution.Input.profile",
          "dry_run.$": "$$.Execution.Input.dry_run"
        }
      },
      "Next": "PipelineFailed",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException"],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ]
    },

    "PipelineFailed": {
      "Type": "Fail",
      "Error": "PipelineFailed",
      "Cause": "One or more pipeline steps failed. Check Discord and S3 error logs."
    }
  }
}
